<a href="https://colab.research.google.com/github/plmsz/python_101/blob/main/Learn_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
name = "Jane"
my_age=13
print("Hello, my name is " + name + " and I am " + str(my_age) + " years old.")
# Indentation is important, this line would throw an error (IndentationError: unexpected indent)
#  test = 1

Hello, my name is Jane and I am 13 years old.

In [73]:
students = ["John", "Mark", "Jane", "Sarah"]
students[1:3]
# ['Mark', 'Jane']
students[0:2]
#['John', 'Mark']
students[:2]
#['John', 'Mark']
students[:4]
# ['John', 'Mark', 'Jane', 'Sarah']
newStudents=['Alice', 'Diego']
english_class = students + newStudents
# ['John', 'Mark', 'Jane', 'Sarah', 'Alice', 'Diego']
students[1:-1]
#'Mark', 'Jane']

['Mark', 'Jane']

In [76]:
students[1:3] = ['Rita', 'Maria']
print(students)
#['John', 'Rita', 'Maria', 'Sarah']

['John', 'Rita', 'Maria', 'Sarah']

In [45]:
population=[["Chicago", 2.8], ["LA", 4.5], ['NYC', 8.1]]
population2=["Houston", 2.9]

In [46]:
combined_population = population[1:] + population2
print(combined_population)
#[['LA', 4.5], ['NYC', 8.1], 'Houston', 2.9]

[['LA', 4.5], ['NYC', 8.1], 'Houston', 2.9]

In [49]:
age = 19
if age > 21:
  print("You're allowed to dring")
elif age > 18 and age <21:
  print("you can drink in brazil")
else:
  print("you're too young")
#you can drink in brazil

you can drink in brazil

In [51]:
for i in range(0,5):
  print(i)

for name in students:
  print(name)

0
1
2
3
4
John
Mark
Jane
Sarah

In [59]:
person = {"name":"Linda", "age":45}
person["age"]
person.get("phone","Not Found")
person.keys()
#dict_keys(['name', 'age'])
person.items()
#dict_items([('name', 'Linda'), ('age', 45)])
person.values()

dict_items([('name', 'Linda'), ('age', 45)])

In [64]:
for key, name in person.items():
  print(key,name)
  ''' name Linda
      age 45 '''

name Linda
age 45

In [62]:
numbers_tupple=(6,3,2,1)
numbers=[6,3,2,1]
numbers.append(0)
#you can't append in tupples
print(numbers)

[6, 3, 2, 1, 0]

In [68]:
water = ['clear', 'high ph']
a, b = water
print(b)
#high ph
pets = ['cat', 'dog', 'bird', 'rabbit']
a, *b, c = pets
print('my favorite pet is', a, 'don`t care:', b, "cute too:", c)
#my favorite pet is cat don`t care: ['dog', 'bird'] cute too: rabbit

high ph
my favorite pet is cat don`t care: ['dog', 'bird'] cute too: rabbit

In [87]:
names = ["John", "Mark", "Jane", "Sarah"]
new_name_list = list(map(lambda name: name + "__", names))
print(new_name_list)
#['John__', 'Mark__', 'Jane__', 'Sarah__']
filtered_list = list(filter(lambda name: name[-1] == "e", names))
print(filtered_list)
new_name_list_2 = [name + '__' for name in names]
print(new_name_list_2)
new_name_list_3 = [name + "__" for name in names if name[-1]=="e"]
print(new_name_list_3)
#['Jane__']

['John__', 'Mark__', 'Jane__', 'Sarah__']
['Jane']
['John__', 'Mark__', 'Jane__', 'Sarah__']
['Jane__']